/* 
    "Create Account" button color: #596D48;
    Input field border color: #E5E7EB;
    input:invalid : red border;
    input:focus : blue border, box-shadow (subtle)

*/

/* Basic setup */
@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Specific CSS styling */

body {
    display: flex;
    min-width: 700px;
    background-color: #f9fafc
    ;
}

.images {
    height: 100vh;
    min-width: 250px;
    width: clamp(250px, 35vw, 45vw);
    background-image: url("./img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: contain;
    background-attachment: fixed;
    /* background-position: -8%; */
    position: relative;
}

.logo-banner {
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-img {
    max-height: 10vh;
}

.logo-text {
    font-family: norsebold;
    color: white;
    font-size: 7.5vh;
}

.photo-credits {
    position: absolute;
    bottom: 10px;
    color: white;
    text-align: center;
    width: 100%;
}

.photo-credits a {
    color: white;
}

.text-area {
    width: 70vw;
    padding: 150px 200px 150px 50px;
    /* padding-left: 30px;
    padding-right: 150px; */
}

.intro {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 100px;
}

form {
    background-color: white;
}

#submit-button {
    padding: 20px 50px;
    background-color: #596D48;
    font-size: 1em;
    color: white;
    border-radius: 10px;
}